<div class="relative bg-foreground/8 border border-accent/60 shadow-xl shadow-accent/15 min-h-12 p-3 rounded-xl"
    id="frameItem_{{id}}">
    <div class="w-full font-bold inline-flex gap-2 text-muted">
        <i data-lucide="gallery-horizontal-end"></i>
        Frame: {{id}}
    </div>
    <div
        class="absolute top-3 right-3 inline-flex items-center rounded-md {{statusColor.bg}} px-2 py-1 text-xs {{statusColor.text}} inset-ring {{inset}} font-medium mb-4">
        {{status}}
    </div>
    <div class="grid grid-cols-4 gap-1 truncate">
        <div>Mode:</div>
        <div class="col-span-3">{{mode}}</div>
        <div>Showing:</div>
        <div class="col-span-4">{{showing}}</div>
        <div class="col-span-4 text-muted italic">Update: {{showingUpdate}}</div>
        <div>Source:</div>
        <div class="col-span-4">{{source}}</div>
        <div>Controller:</div>
        <div class="col-span-4">{{controller}}</div>
    </div>

    <div class="text-muted italic">{{#lastSeen}}Last Seen: {{.}}{{/lastSeen}}</div>
</div>