<!DOCTYPE html>
<html class="dark">

    <head>
        <meta charset="UTF-8">
        <title>MagicFrame - Dashboard - Main</title>
        <link rel="stylesheet" href="/css/main.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/mustache.min.js"></script>
        <script src="/js/libs/lucide.min.js"></script>
        <script src="/js/core.js" type="module" defer></script>
        <script src="/js/dashboard/frame.js" type="module" defer></script>
    </head>

    <body class="bg-background text-foreground antialiased">

        {{>loader}}

        <div class="flex flex-col m-auto min-h-svh w-[95svw] md:w-[98svw] max-w-480">

            {{>dashboard.header}}

            <div class="grow flex gap-2">

                {{>dashboard.navigation}}

                <main class="grow">
                    <div class="flex flex-col justify-between w-full h-full">
                        <div class="grid grid-cols-1 xl:grid-cols-4 gap-4 p-2" id="frameContaier">
                        </div>
                        <div id="paginationBar"></div>
                    </div>
                </main>
            </div>

            {{>dashboard.footer}}

        </div>

    </body>

</html>