<!DOCTYPE html>
<html class="dark">

    <head>
        <meta charset="UTF-8">
        <title>MagicFrame - Dashboard - Media</title>
        <link rel="stylesheet" href="/css/main.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/mustache.min.js"></script>
        <script src="/js/libs/lucide.min.js"></script>
        <script src="/js/core.js" type="module" defer></script>
        <script src="/js/dashboard/media.js" type="module" defer></script>
    </head>

    <body class="bg-background text-foreground antialiased">

        {{>loader}}

        <div class="flex flex-col m-auto min-h-svh w-[95svw] md:w-[98svw] max-w-480">

            {{>dashboard.header}}

            <div class="grow flex gap-2">

                {{>dashboard.navigation}}

                <main class="grow">
                    <div class="flex flex-col justify-between w-full h-full">
                        <table
                            class="table-auto text-center items-center border-spacing-y-3.75 border-separate space-y-6">
                            <thead class="bg-accent/20">
                                <th class="rounded-l-xl p-1">Name</th>
                                <th class="p-1">Type</th>
                                <th class="p-1">Mime Type</th>
                                <th class="p-1">File Size</th>
                                <th class="p-1">Info</th>
                                <th class="rounded-r-xl p-1">Action</th>
                            </thead>
                            <tbody id="mediaContaier" class="align-middle">
                            </tbody>
                        </table>
                        <div id="paginationBar"></div>
                    </div>
                </main>
            </div>

            {{>dashboard.footer}}

        </div>

    </body>

</html>