<div id='loader' class="bg-background w-screen h-screen z-1000 flex justify-center items-center absolute hidden">
    <div
        class="relative bg-transparent w-62.5 h-62.5 flex justify-center items-center rounded-4xl shadow-[16px_14px_20px_#0000008c] overflow-hidden">
        <div
            class="absolute bg-[conic-gradient(var(--color-primary)_20deg,transparent_120deg)] w-[150%] h-[150%] animate-[spin_2s_linear_infinite_reverse]">
        </div>
        <div
            class="text-primary absolute flex justify-center items-center h-60 w-60 rounded-4xl bg-background text-center shadow-[inset_16px_14px_20px_#0000008c]">
            <p class="text-xl tracking-widest">
                Magic Frame
                <br />
                <br />
                V{{version}}
            </p>
        </div>
    </div>
</div>