<div class="sticky bottom-2 my-2 z-100">
    <footer
        class="bg-background w-full border-t border-primary rounded-l transition-all p-2 shadow-[0_-25px_50px_-12px] shadow-accent/40">
        Copyright ­© Magic Frame
        |
        V{{version}}
    </footer>
</div>