<tr id="mediaTableItem_{{id}}" class="h-12 bg-secondary/10 rounded-[20px]">
    <td class="rounded-l-xl p-1">{{name}}</td>
    <td class="p-1">{{type}}</td>
    <td class="p-1">{{mimeType}}</td>
    <td class="p-1">{{fileSize}}</td>
    <td class="p-1">{{info}}</td>
    <td class="rounded-r-xl p-1">
        <span class="inline-flex items-center">
            <a href="/dashboard/media/{{id}}">
                <i data-lucide="eye"></i>
            </a>
        </span>

    </td>
</tr>