<div id='frameInfos' class="bg-[#121212] w-dvw h-dvh z-90 flex justify-center items-center absolute">
    <div class="absolute min-w-64 h-32 grid grid-cols-2 gap-4 text-center">
        <div class="col-span-2 p-2">
            <div
                class="inline-flex items-center rounded-md bg-primary/10 px-2 py-1 text-xs text-primary inset-ring inset-ring-primary/50 font-medium mb-4">
                Frame ID
            </div>
            <div>{{frame.id}}</div>
        </div>
        <div class>
            <div
                class="inline-flex items-center rounded-md bg-primary/10 px-2 py-1 text-xs text-primary inset-ring inset-ring-primary/50 font-medium mb-4">
                Width</div>
            <div>{{frame.width}}</div>
        </div>
        <div class>
            <div
                class="inline-flex items-center rounded-md bg-primary/10 px-2 py-1 text-xs text-primary inset-ring inset-ring-primary/50 font-medium mb-4">
                Height</div>
            <div>{{frame.height}}</div>
        </div>
    </div>
</div>