<tr id="tableItem_{{key}}" class="h-12 bg-secondary/10 rounded-[20px]">
    <td class="rounded-l-xl p-1">{{key}}</td>
    <td class="p-1">{{status}}</td>
    <td class="p-1">{{pattern}}</td>
    <td class="p-1">{{nextRun}}</td>
    <td class="rounded-r-xl p-1">
        <span class="inline-flex items-center">
            <a href="/dashboard/crons/{{key}}">
                <i data-lucide="eye"></i>
            </a>
        </span>

    </td>
</tr>